.main_navbar {
  width: 100vw;
  padding: 15px 30px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: aqua;
}
.service_dialog {
  display: block;
}

.main_navbar_container {
  padding: 15px 30px;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: end;
}
