.b_curency_list_result {
  background-color: aqua;
}
.coin-name {
  max-height: 48px;
  display: flex;
  flex-direction: column;
}
.fa-name {
  font-size: 12px;
  line-height: 2;
}
.en-name {
  line-height: normal;
  color: #a5a1a1;
  font-size: 10px;
}
.buy-price-list {
  display: block;
}
.sell-price-list {
  display: none;
}
